{% extends 'base.html' %}

{% block title %}Главгая страница{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <div>
        <p>Управление</p>
        <ul>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdDiEhhGSQRp4u0tTe1ik8535TE75GCHFYuoU2FvkOdQp4fZQ/viewform?usp=sf_link">Добавлеие чатов</a> </li>
            <li><a href="https://docs.google.com/spreadsheets/d/1C1Ts-cUkIX_WbQqFjOTGRVMm1KGX6oOIqRMt7Ho9eUg/edit">Удаление чатов</a> </li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdiDNrsMtQJLDY37svr3U6pVXyYtYkQ5JRPorTViQYBuRI2aA/viewform">Контрольные точки</a> </li>
        </ul>
        <p>Настроики</p>
        <ul>
            <li><a href="{% url 'password_change' %}">Сменить пароль</a> </li>
        </ul>
    </div>
{% endblock %}